.big-container{
  display: flex;
  justify-content: space-around;

       .flex {
          display: -webkit-flex;
          display: flex;
          -webkit-flex-direction: column;
          flex-direction: column;
          padding-left: 5%;
          padding-right: 5%;
          
        



              .flex-container {
              
                display: flex;
                width: 400px;
                height: 250px;
                background-color: lightgrey;
              }

              .flex-item {
                background-color: cornflowerblue;
                width: 100px;
                height: 100px;
                margin: 10px;
              }

              .flex-container2 {
              
                display: flex;

                align-items: stretch;
                width: 400px;
                height: 250px;
                background-color: lightgrey;
              }

              .flex-item2 {
                background-color: cornflowerblue;
                width: 100px;
                margin: 10px;
              }
              .flex-container3 {
                display: -webkit-flex;
                display: flex;
                -webkit-flex-direction: column-reverse;
                flex-direction: column-reverse;
                width: 400px;
                height: 250px;
                background-color: lightgrey;
              }

              .flex-item3 {
                background-color: cornflowerblue;
                width: 100px;
                height: 100px;
                margin: 10px;
              }

              .flex-container4 {
                display: -webkit-flex;
                display: flex;
                -webkit-align-items: center;
                align-items: center;
                width: 400px;
                height: 250px;
                background-color: lightgrey;
              }

              .flex-item4 {
                background-color: cornflowerblue;
                width: 100px;
                margin: 10px;
              }

              .flex-container5 {
                display: -webkit-flex;
                display: flex;
                -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
                width: 300px;
                height: 250px;
                background-color: lightgrey;
              }

              .flex-item5 {
                background-color: cornflowerblue;
                width: 100px;
                height: 100px;
                margin: 10px;
              }

              .flex-container6 {
                display: -webkit-flex;
                display: flex;
                -webkit-flex-wrap: nowrap;
                flex-wrap: nowrap;
                width: 300px;
                height: 250px;
                background-color: lightgrey;
              }

              .flex-item6 {
                background-color: cornflowerblue;
                width: 100px;
                height: 100px;
                margin: 10px;
              }
        }

        .grid {
          display: -webkit-flex;
          display: flex;
          -webkit-flex-direction: column;
          flex-direction: column;
          margin-right:5%;
          
                  .grid-container {
                    display: grid;
                    grid-template-columns: auto auto auto;
                    background-color: #2196F3;
                    padding: 10px;
                  }
                  .grid-item {
                    background-color: rgba(255, 255, 255, 0.8);
                    border: 1px solid rgba(0, 0, 0, 0.8);
                    padding: 20px;
                    font-size: 30px;
                    text-align: center;
                  }


                    .grid-container2 {
                      display: grid;
                      grid-column-gap: 80px;
                      grid-template-columns: 25% 25% 25%;
                      background-color: #2196F3;
                      padding: 10px;
                    }
   
                  .grid-item2 {
                    background-color: rgba(255, 255, 255, 0.8);
                    border: 1px solid rgba(0, 0, 0, 0.8);
                    padding:20px;
                    font-size: 30px;
                    text-align: center;
                  }
                  .grid-container3 {
                    display: grid;
                    grid-template-columns: auto auto auto;
                    grid-gap: 10px;
                    background-color: #2196F3;
                    padding: 10px;
                    div {
                      background-color: rgba(255, 255, 255, 0.8);
                      text-align: center;
                      padding: 20px 0;
                      font-size: 30px;
                    }
                  }
                  
                  
                  
                  .item31 {
                    grid-column-start: 1;
                    grid-column-end:3;
                  }

                  .grid-container4 {
                    display: grid;
                    grid-gap: 10px;
                    background-color: #2196F3;
                    padding: 10px;
                  }
                  
                  .grid-item4 {
                    background-color: rgba(255, 255, 255, 0.8);
                    text-align: center;
                    padding: 20px;
                    font-size: 30px;
                  }
                  
                  .item41 {
                    grid-column: 1 / span 2;
                    grid-row: 1;
                  }
                  
                  .item42 {
                    grid-column: 3;
                    grid-row: 1 / span 2;
                  }
                  
                  .item45 {
                    grid-column: 1 / span 3;
                    grid-row: 3;
                  }


        }
}